// The camera to use. If not provided, connects to the first available camera.
camera "dummy-fixed"
// fixed_input_image_path "mock-data/image.jpg"
// The time between each capture
cadence "5s"
// The maximum exposure time
max-exposure "2m"
// Optimimum exposure time parameters...
percentile 95.0
max-bin 4

/- gain 10.0

target-val 30000.0
target-uncertainty 2000.0
target-temp -10.0
// Whether to save FITS data
save-fits #false
// Whether to save PNG images
save-png #true
// Whether to use 8-bit color
pix8b #false

// The output image format
image-format "jpg"

// Log settings
log {
    // The maximum number of log files there should be in the log directory
    max-files 10
    // The amount of time it takes to rotate between log files
    rotation-time "15m"
    // The amount of time between temperature log messages
    temperature-monitor-period "1s"
    // The amount of time that that needs to pass for duplicate log messages to not
    // be considered duplicate.
    //
    // By default, when duplicate log messages are emitted, it will only emit the message once
    // and then an indicator on how many duplicate records there were. You can disable such filtering
    // by setting to 0, but this can make
    dedup-period "15s"
}

// The region of interest in pixel space represented as min..max on the x and y axes.
// The actual value on the camera may be different than the one you suggest due to hardware limitations.
// POA cameras require the width to be a multiple of 4 and height a multiple of 2 and typically will round
// down in cases of mismatch
//
// A warning will be logged if there is such a mismatch and it is recommended to immediately fix the config
// file on mismatch to ensure consistency, but I'll
/- roi {
    x 0 0
    y 0 0
}

// Settings for an optional U-Blox GPS to connect to for attaching location metadata to captured image
gps {
    // The port to connect to
    port "dummy"
    // The baud rate
    baud_rate 115200
    // The read timeout
    timeout "500ms"
}
// Scaling settings for processing of the captured image
/- scaler vpss {
    // The vdma device to use
    vdma-device "/dev/clic_vdma"
    // The cropping mode for scaling. Only `grid` is accepted right now.
    //
    // - `grid`: Crops the image into a centered width:height aspect ratio region,
    // and then splits that region into approximately equal-sized square regions along the grid. Each of these
    // regions are then saved as separate files, suffixed with a zero-based index. The dimensions
    // used by the upscaler and downscaler are *per grid cell* and not for the entire image.
    //
    // If unset, no cropping happens
    crop-mode grid 2 1
    // These dimensions are per-grid cell
    down absolute 448 448 device="vpdn"
    // input means to upscale to the original input grid size.
    up input device="vpup" nn=#true
}

// You can also use software scaling algorithms (nearest, linear, cubic, gaussian, lanczos).
// The upscaler might not be that useful because it doesn't produce a mask.
//
// You can also omit the upscaler
scaler software {
    crop-mode grid 2 1
    // These dimensions are per-grid cell
    down absolute 448 448 alg=nearest
    up input alg=lanczos
}
